<h3>确认删除？</h3>
<table>
    <tr>
        <td>图书类型</td>
        <td>@Model.BookType</td>
    </tr>
    <tr>
        <td><a asp-action="Delete1" asp-route-id="@Model.Id"></a></td>
        <td><a asp-action="Index"></a></td>
    </tr>
</table>