@model List<BookType>;
<div>
   <a asp-action="Create">新增</a>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>图书类别</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.BookTypes</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                    <a asp-action="Revise" asp-route-id="@item.Id">编辑</a>
                </td>
            </tr>
        }
    </tbody>
</table>
